<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logFilePattern" value="${basedir}\${shortdate}\${shortdate}"/>
  <variable name="gmailUsername" value="${trim-whitespace:${file-contents:${basedir}/gmailusername.txt}}" />
  <variable name="gmailPassword" value="${trim-whitespace:${file-contents:${basedir}/gmailpassword.txt}}" />

  <targets>

    <target xsi:type="ColoredConsole" name="AdminLogConsole" layout="[${date}] [${level}] ${callsite} - ${message}"
        header="Machine name: ${machinename}, admin log"/>
    <target xsi:type="File" name="AdminLogFile" fileName="${logFilePattern}_AdminLog.log" 
            header="Machine Name: ${machinename}" layout="[${date}] [${level}] ${callsite} - ${message}" 
            concurrentWrites="false"/>

    <target xsi:type="ColoredConsole" name="RegularLogConsole" layout="[${date}] [${level}] ${callsite} - ${message}"
            header="Machine: ${machinename}, regular" />
    <target xsi:type="File" name="RegularLogFile" fileName="${logFilePattern}_RegularLog.log"
            header="Machine: ${machinename}, regular" layout="[${date}] [${level}] ${callsite} - ${message}" 
            concurrentWrites="false"/>
    
    <target xsi:type="File" name="GeneralLogFile" fileName="${logFilePattern}_GeneralLog.log" 
            layout="[${shortdate}] [${level}] ${callsite} - ${message}"/>
    
    <target xsi:type="Mail"
              name="mail"
              smtpServer="smtp.gmail.com"
              smtpPort="587"
              enableSsl="true"
              smtpAuthentication="Basic"
              smtpUserName="${gmailUsername}"
              smtpPassword="${gmailPassword}"
              from="${gmailUsername}"
              to="${gmailUsername}"
              subject="NLogDemo logs"
              addNewLines="true"
              layout="[${shortdate}] [${level}] ${callsite} - ${message}"
              />
    
    <wrapper-target xsi:type="AsyncWrapper" name="asyncMail">
      <target-ref name="mail"/>
    </wrapper-target>
  
  </targets>

  <rules>
    <logger name="AdminLogger" writeTo="AdminLogConsole" />
    <logger name="AdminLogger" minlevel="Error" writeTo="AdminLogFile" />

    <logger name="RegularLogger" writeTo="RegularLogConsole" />
    <logger name="RegularLogger" writeTo="RegularLogFile" />

    <logger name="*" writeTo="GeneralLogFile"/>
    <logger name="*" writeTo="asyncMail" />
  </rules>
</nlog>
